@media screen and (max-width: 1140px) {
    
    aside {
        margin-top: -50px;
    }

    h2 {
        line-height: 50px;
    }

    form {
        width: 100%;
    }

    form [type="submit"] {
        width: 100%;
    }
}

@media screen and (max-width: 760px) {

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
    }

    h2 {
        font-size: 38px;
        line-height: 30px;
        margin: 10px;
    }

    p {
        text-align: center;
        max-width: 70%;
    }

    form {
        padding: 0 50px;
        align-items: center;
        width: 100%;
    }

    form > * {
        width: 100%;
    }

    
    form [type="submit"] {
        width: 100%;
    }

    img {
        display: none;
    }

    ul {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    
    h2 {
        font-size: 28px;
        line-height: 10px;
    }
}